.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  visibility: hidden;
  z-index: 50;
  transition-duration: .75s;
  opacity: 0;
}

.modal__content {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 100;
  background-color: white;
  transform: translateY(-650px);
  opacity: 0;
  transition-duration: .65s;
}

.modal__content-active {
  transform: translateY(0);
  opacity: 1;
  transition-duration: .65s;
}

.modal-active {
  visibility: visible;
  transition-duration: .75s;
  opacity: 1;
}