@import "../../styles/variables.scss";

.navBar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.navBar > a {
  font-weight: 700;
  margin-right: 2em;
  text-decoration: none;
  letter-spacing: 3px;
  color: black;
  transition-duration: .3s;
}

.moved {
  background-color: white;
  padding-right: 2em;
}

.navBar > a:hover {
  letter-spacing: 10px;
  transition-duration: .3s;
  color: $accent;
}
