@import "./styles/variables.scss";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
}

.topNav {
  width: 100vw;
  height: 3em;
  position: fixed;
  top: 0;
  right: 2em;
  line-height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.landingSection {
  width: 100vw;
  height: 75vh;
  background-image: url("./media/toronto.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 20%;
}

.jumbotron {
  margin-left: 20%;
}

.arrow {
  text-align: center;
  margin: 12.5% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}



.aboutSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.aboutSection__container-left {
  width: 50%;
  padding: 2em;
  padding-left: 5em;
  position: relative;
}

.about__img {
  background-image: url("./media/toronto.jpg");
  background-position: center;
  background-size: cover;
  width: 85%;
  height: 85%;
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: $accent -25px -25px;
}

.aboutSection__container-right {
  width: 50%;
  padding: 2em;
  padding-right: 5em;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.techStackSection {
  margin-top: 5em;
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
  padding-right: 5em;
  padding-left: 5em;
}

.techStackSection > h1 {
  margin-bottom: 2.5em;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectSection {
  padding-left: 5em;
  padding-right: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectSection > h1 {
  margin-bottom: 3.25em;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


